<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odin Mini Messageboard</title>
</head>

<body>
    <a href="/new">Write a new Message</a>
    <h1>Recent Messages:</h1>
    <% messages.forEach((message)=> { %>
        <div class="message-body">
            <h3>
                <span>
                    <%= message.text %>
                </span>

            </h3>
            <span>
                By: <%= message.user %>
            </span>
            <p>
                On: <%= message.added.toString().slice(0, 21) %>
            </p>
            <span>
                <button>
                    <a href="/message/<%= message.id %>">(Open Message Details)</a>
                </button>
            </span>
        </div>
        <% }) %>
</body>

</html>